[2014-09-08 18:39] hcarty opened #1 "Need to #require "ppx_deriving" before [@@deriving Yojson] works"
As stated in the title it appears that `#require "ppx_deriving_yojson";;` isn't enough from the toplevel.

Using v1.0 from opam with OCaml 4.02.0 and utop 1.15:

[code]

[2014-09-08 18:44] hcarty opened #2 "Types are not constrained on to_yojson or of_yojson"
Same basic example as #1. I wouldn't expect to see any `'a` here.

Using v1.0 from opam with OCaml 4.02.0 and utop 1.15:

[code]

[2014-09-08 18:48] #1 closed, assigned to nobody

[2014-09-08 19:02] #2 closed, assigned to nobody

[2014-09-10 12:17] vbmithr opened #3 "Importing json object with uppercase fields."
My use case: I want to be able to define types that match existing JSON objects, whose fields sometimes start with an uppercase letter. Currently it seems impossible to achieve this using ppx_deriving_yojson. I would like to switch from atdgen to this library, but I still need that feature. Is there any plan to implement something like this ?

[2014-09-10 13:02] #3 closed, assigned to nobody

[2014-09-10 14:16] vbmithr opened #4 "Add an attribute for dynamic json."
It would be great to have something like a [@dyn]  attribute to allow a field of an object not to be parsed but instead be returned as a Yojson.Safe.t value. This is useful when a json object returned from some web app can change the type of a field.

[2014-09-10 14:28] #4 closed, assigned to nobody

[2014-09-11 12:35] whitequark opened #5 "Allow customizing names of constructors"
ref: https://github.com/whitequark/ppx_deriving/issues/5

[2014-09-11 12:39] vbmithr opened #6 "Better error messages"
It would be good to have meaningful error messages that explain why a json object cannot be parsed into an OCaml derived type.

[2014-09-11 12:56] vbmithr opened #7 "Optional fields"
I would like to be able to choose whether I want 'a option fields of OCaml records to be transformed to JSON null values or to be removed from the generated JSON object.

[2014-09-11 13:02] #5 closed, assigned to whitequark

[2014-09-12 13:41] zoggy opened #8 "Order not kept in list"
Serializing then deserializing values encoded with the generated functions does no preserve list order:

[code]

will give

[code]

[2014-09-12 14:00] #8 closed, assigned to nobody

[2014-09-13 08:24] #6 closed, assigned to nobody

[2014-09-13 10:57] #7 closed, assigned to nobody

[2014-09-16 12:33] zoggy opened #9 "Cannot compose polymorphic variant types"
In t.ml:

[code]

compiled with:

[code]

gives:

[code]

[2014-09-16 18:02] #9 closed, assigned to nobody

[2014-10-24 07:44] zoggy opened #10 "Handling of Map, Set, ..."
Do you plan to handle types generated with Map.Make, Set.Make and so on, for example using something like

[code]

The attribute on a module could mean "derive for all types in the module". I don't know if it's easy, since the Map.S.t is abstract. But may be you could use the Map functions to list elements to create the json structure and re-create the map when reading the json structure.

It migh

[2014-12-10 15:01] zoggy opened #11 "Unable to derive from a type"
Hello,

I have the following code:

[code]

I get an error:

[code]

I don't understand what's wrong with the server_msg definition. Did I miss something ?

[2014-12-10 15:27] #11 closed, assigned to nobody

[2014-12-11 10:41] zoggy opened #12 "Bad handling of multiply parametrized types"
With the following example:

[code]

The generated `msg_of_yojson` function is typed as:

[code]

Thus the the generated function `t_of_yojson` cannot be typed, as the type of `msg_of_yojson` should rather be

[code]

[edited to fix confusion between of_yojson and to_yojson)]

[2014-12-12 00:33] #12 closed, assigned to nobody

[2014-12-17 09:41] zoggy opened #13 "Support for open types"
Hello,

Do you plan to support open types ?
[code]
by now gives "yojson cannot be derived for open types".

Maybe this could be achieved by creating a reference to a function when the open type is delcared, then adding handlers to the function for each "+=" declaration ?

[2015-03-11 13:53] vogler opened #19 "to_yojson ?(omit_defaults=true)"
It would be nice if one could also enable the output of default values.

[2015-03-11 13:59] whitequark commented on #19
Yes. I will not have time to implement it soon, though.

[2015-03-11 14:14] vogler opened #20 "Implicit vs. explicit defaults give different output"
type t = {
      outfile         : string option;
      includes        : string list  [@default []];
      kernel_includes : string list;
      (* ... *)
    } [@@deriving yojson, create]
    let _ = print_endline @@ Yojson.Safe.to_string @@ to_yojson @@ create ()
    (* {"outfile":null,"kernel_includes":[]} *)

In this example `includes` won't be emitted while the other fields will.
Is there a r

[2015-03-11 14:20] whitequark commented on #20
This is working as I intended to implement it, but I agree that the behavior is ultimately confusing.

[2015-03-11 16:48] hcarty opened #21 "Warnings"
I'm not sure how simple these are to fix, but it would be nice to either fix what is causing the warnings or, if it's possible, silence the warnings with the equivalent of appropriate `[@@warnings ...]` attributes.

Examples from utop:

[code]

[2015-03-11 17:55] whitequark commented on #21
I think @c-cube did similar fixes for ppx_deriving...

[2015-03-11 17:57] c-cube commented on #21
I'm not sure I got the fix right, but yeah, maybe adding `[@@ocaml.warning "-39"]`
to the output of ppx_deriving would help.

[2015-03-19 13:38] whitequark commented on #21
There's still `unused rec flag`, so reopening.

[2015-03-19 13:40] emillon commented on #21
OK I'll update this.

[2015-03-19 14:34] emillon commented on #21
It's actually completely independent, since this `rec` is added to the structure declaration themselves. I tried to add a `[@ocaml.warning "-39"]` to individual declarations, but the warning stays. It does not seem possible to attach an attribute to a whole `Pstr_value`, only to declarations or the whole module.

[2015-04-02 20:01] smondet opened #23 "Type of `of_yojson` not constrained enough"
The fix of #2 added constraints but not enough
(c.f. [l. 240](https://github.com/whitequark/ppx_deriving_yojson/blob/2d6370e9c808d359f549e2b76ce0bf6a89ec7571/src/ppx_deriving_yojson.ml#L240) it still puts `yojson -> _`).

This can become a slight annoyance with functors:

[code]

The functor application fails with:

[code]

[2015-04-02 20:31] smondet commented on #23
Ok, the problem is not the lack of constraint.

The function `Ppx_deriving_yojson_runtime.map_bind` “closes” the result polymorphic variant (which does not seem to happen for other kinds of types).

closing that `Result.t` is sane in the long run, maybe it should be everywhere :)

[2015-04-02 20:31] #23 closed

[2015-04-03 23:24] smondet opened #24 "Problem with recursive polymorphic variants"
Here below we see that the generated function `c_of_yojson` does not return `` [ `Ok of c | `Error of string ]``:

[code]

Note that if we “*inline”*  the  defintion of `c` it works again:

[code]

With `` type b = [a | `C of something_else list]  ```  being not recursive, it also works.

PS: I'd be interested in any other work around that problem, because my real-world use case is pretty big and

[2015-04-04 11:47] whitequark commented on #24
Possibly useful observation:
[code]

I don't really know how to fix this.

[2015-04-04 17:22] smondet commented on #24
I don't know yet how to do that within the ppx code generation, but playing with the generated code, I made this work:

[code]

What I have changed is the lines ”`` | `Ok _ as result -> result ``” into “``  | `Ok x -> `Ok (x :> c) ``.”

(
I used `ppx_deriving` README instructions to create the prelinked driver and then `ppx_tools`:
[code]
)

[2015-04-04 17:27] whitequark commented on #24
Ah yes that would be trivial to modify in ppx. I would prefer a PR but if you will get blocked on it I'll implement.

[2015-04-06 18:56] #24 closed

[2015-04-11 16:42] vbmithr opened #26 "decoding a float from a json int"
[code]

[code]

[2015-04-12 07:00] #26 closed

[2015-04-13 11:07] jpdeplaix opened #27 "Custom encoding of variants"
Hi,

I've the following json format to parse:
I can have either:
[code]
or:
[code]

And what I would like to do is something like that:
[code]
Is it already possible to do something like that or otherwise, is it possible to add such a feature ?

[2015-04-13 11:27] whitequark commented on #27
No, this is not possible.

The problem with adding this as a feature is that it is not flexible; there is no single format JSON APIs use for serializing sum types.

[2015-04-13 13:10] jpdeplaix commented on #27
Ok, no problems. I just used ```Yojson.Safe.json```

[2015-04-13 13:13] whitequark commented on #27
I'm actually open to ideas in regards to this, I just don't know how/if it can be implemented without bloating the interface terribly.

[2015-04-13 13:23] jpdeplaix commented on #27
Mmmh at least allowing ```[@name "name"]``` on record fields would be very helpful.
The field has name ```type```, but it's an ocaml keyword so I can't create the field.

[2015-04-13 13:26] jpdeplaix commented on #27
By the way, generally speaking, with ppx is it possible to enforce that attributes (such as ```[@name "name"]``) have to be used by a ppx module ?

[2015-04-13 13:27] whitequark commented on #27
https://github.com/whitequark/ppx_deriving_yojson#options

And to the second question, no. There's been discussion on schemas on mantis but those are vaporware.

[2015-04-13 13:31] jpdeplaix commented on #27
Ohh thanks a lot !

[2015-04-22 10:23] Leonidas-from-XIV opened #28 "Optional values do not work anymore"
Hi,

I have an API that may or may not include some keys, so I used "option" types to mark the result as optional. I believe this used to work, but the code complains about optional values (I'm using version 2.2):

[code]

Which yields <code>- : [> \`Error of bytes | \`Ok of f ] = \`Error "f.may"</code>. When adding the `"may"` key, it parses it correctly.

[2015-04-22 18:08] whitequark commented on #28
Nope, never worked. See the docs: `option	Null or 'a`.

You may take a look at `[@@deriving yojson { strict=false }]`.

[2015-04-22 18:23] Leonidas-from-XIV commented on #28
But with `strict = false` and leaving out the key from the struct I can't access the value even if it does exist.

[2015-04-22 18:27] whitequark commented on #28
Wait, no, I screwed up. `[@default None]` is what you need here.

[2015-04-23 12:03] Leonidas-from-XIV commented on #28
You are right, that works for me just fine. Thanks!

[2015-04-23 12:03] #28 closed

[2015-04-23 12:10] Leonidas-from-XIV opened #29 "Type name `t` yields strange constructor function names"
When the type is named `t`, the prefix is omitted:

[code]

OTOH, with a different name:
[code]

I'm not sure this is a bug, since it clearly targets the `Module.t` case, but maybe it could be somehow restricted. Or maybe just documented, since this looks useful, but is not mentioned in the readme.

[2015-04-23 12:12] whitequark commented on #29
Yeah, documentation would be nice.

[2015-05-02 15:39] #29 closed

[2015-05-25 17:34] smondet opened #31 "Cut a release?"
All the recent fixes may deserve a `2.3` push?

Selfishly :), I cannot release ketrew until the fix for #24 gets into opam:
https://github.com/smondet/dev-opam-repo/issues/1

[2015-05-26 12:35] whitequark commented on #31
Done

[2015-05-26 12:35] #31 closed

[2015-05-26 12:53] smondet commented on #31
Thank you! That was fast!

[2015-06-16 14:55] #13 closed

[2015-06-16 15:03] zoggy opened #32 "Encoding of variants with no args"
Hello,

By now, variant constructors with no arguments, for example `Foo` in `type t = Foo` are encoded as
`` `List [`String "Foo"]``. Would it be possible to encoded these as just `` `String "Foo"`` ? (and read them back from the same way, of course).

The reason is that it is quite heavy to have to put them in a list. I encouter the problem when wanting to use generated JSON encoder/decoder func

[2015-06-16 15:13] whitequark commented on #32
Sure, the change is trivial. The reason it is done like so is for consistency. Also, changing the format will require either a major version bump or a setting, so I'm a bit reluctant to.

Can you give an example of the kind of friction you encounter while trying to use thee with Ocf wrappers?

[2015-06-16 15:33] zoggy commented on #32
Suppose I want to store a list of "tags" in an option, I can do:
[code]
The JSON code to represent my list of tags is unnecessarily heavy. Of course, I can create my own JSON coder/decoder for such simple variants, but I wanted to benefit from the ppx_deriving_yojson.

In the case where the `tag` type is an open type, using the code generated by ppx_deriving_yojson would be much easier than re-imp

[2015-06-16 15:34] zoggy commented on #32
Maybe an additional attribute for the type could allow to indicate to encode variants with no arg in a single string ?

[2015-06-16 15:41] whitequark commented on #32
Maybe something like `[@@deriving yojson { flat_variants }]` ?

[2015-06-16 15:48] zoggy commented on #32
That's nice.

[2015-07-06 13:17] domsj opened #33 "default values and ocaml 4.02.2"
in ocaml 4.02.2 I get this
[code]

while in ocaml 4.02.1 the output used to be
[code]

all of this is output from utop.

also ocaml 4.02.1 accepts
[code]
while ocaml 4.02.2 complains about a syntax error.

[2015-07-06 13:20] c-cube commented on #33
Yes, the syntax for attributes has changed.

[code]
has become
[code]

and you need to put parens on some attributes, e.g.

[code]

should be

[code]

[2015-07-06 13:37] domsj commented on #33
Aha, those extra parens indeed solve it. Thanks!

P.s. you may still want to update the examples in the readme...

[2015-07-06 13:43] #33 closed

[2015-07-21 20:30] hcarty opened #34 "[@default None] in yojson vs create"
[code]
gives:
[code]
`[@default None]` is potentially beneficial for `yojson` because it allows for a missing `y` on input and output.  Unfortunately it causes `create` to generate a `?y:int option` parameter rather than `?y:int`.

Is there a way to work around this?

[2015-07-21 20:37] whitequark commented on #34
Try replacing `typ` with `{ typ with ptyp_attributes = [] }` here: https://github.com/whitequark/ppx_deriving_yojson/blob/master/src/ppx_deriving_yojson.ml#L45

[2015-07-22 03:48] hcarty commented on #34
No change on a OCaml 4.02.3 snapshot - I still get the same `?y:int option`.

[2015-07-22 03:56] hcarty commented on #34
Bah, I'm a fool.  I can use `[@yojson.default None]` so that the default only applies to the Yojson deriver.  Apologies for the noise.

[2015-07-22 03:56] #34 closed

[2015-08-10 20:35] hcarty commented on #32
This would also be nice to have for compatibility with atdgen.

[2015-10-05 20:31] seliopou opened #37 "Allow string (de)serialization"
Supporting string (de)serialization for types that do not support yojson functions may help library authors make use of ppx_deriving_yojson. This could use the existing convention of labeling a type with `[@encoding string]` to string serialization instead of yojson serialization. For example consider the (pseudo) code below:

[code]

The effect here would be that `C.to_yojson` would encode a `B`

[2015-10-05 21:46] hcarty commented on #37
This would be quite useful.  int and float versions as well. I've used each of these in manual form when working with external libraries.

[2015-10-05 21:52] seliopou commented on #37
To add to my original comment (which I made a few edits to for readability), the most recent time I came across this was while I was using the ipaddr library. Specifically I wanted to serialize an `Ipaddr.V4.Prefix.t`. Under the hood this is an `int32 * int`, but for serialization purposes the `x.x.x.x/x` would satisfactory, if not preferable.

Of course doing the type aliasing and writing the (de

[2015-10-06 05:04] whitequark commented on #37
I would accept a PR implementing that.

[2015-11-09 10:10] choeger opened #38 "3.0 release"
According to my test-build, the current head works fine with ppx_deriving 3.0, could you please release this as ppx_deriving_yojson 3.0?

(the reason is that otherwise, users of ppx_deriving_yojson are stuck with an old ppx_deriving package)

[2015-11-09 10:27] #38 closed

[2015-11-09 10:43] whitequark commented on #38
Released 2.4.

[2015-12-15 13:50] michipili commented on #32
I think we should consider two cases:

1. The case where the sum type is an enumeration, that is, consists of a list of constant constructors.
2. The case where the sum type is mixed, that is, has constant constructors and not constant constructors.

In my experience with various JSON/HTTP restful APIs, the most common use case of a flat encoding of variants would be the case of enumerations. For

[2015-12-15 14:07] michipili commented on #27
I have to deal with similar json schemes, I usually handle this the following way:

1. I define functions `adresse_of_yojson : json -> [> `Ok of string | Error of string]` and `geo_coord_of_yojson :  json -> [> `Ok of geo_coord | Error of string]` and have to bind them in a monadic way, which – without cutting through monadic operators – boils down to

[code]

It is not very easy to figure out a s

[2015-12-16 19:56] zoggy commented on #32
Hum, not completely, as I would like to have the encoding as a string for constant constructors even for a type with some not constant constructors.

[2015-12-16 21:30] michipili commented on #32
IIYRC this means that you have to deserialise json like

[code]

as

[code]

Right?

Just out of curiosity, where do practical examples of this live? Is there any widely used JSON/HTTP RPC API using such encodings?

[2015-12-16 22:11] zoggy commented on #32
What I mean is, with a type `t` and values `v` and `u`  defined as
[code]
The JSON representation of `v` would be `"Foo"` and the one for `u` would `["Bar", 3]`.

[2015-12-16 22:18] zoggy commented on #32
Regarding your request about examples, this is not related to any JSON API, but for writing by hand some configuration files.

[2016-01-08 17:26] michipili commented on #19
@vogler do you mean disable the output of default parameters?

I am conversing with an API which does not handle `{ blabla: null }` the same way as `{}` and this feature would also be useful to me.

Should this be an additional parameter to the `[@@deriving]` annotation?

[2016-01-08 19:58] whitequark commented on #19
@michipili Yes and yes.

[2016-03-31 01:04] rgrinberg opened #40 "Support [@nobuiltin]"
I'd expect the following to work

[code]

[2016-03-31 15:18] rgrinberg commented on #19
I worry that this isn't flexible enough perhaps. Shouldn't this be controllable at the field label level?

[2016-03-31 15:23] whitequark commented on #19
Makes sense.

[2016-03-31 17:22] michipili commented on #19
@rgrinberg This is definitively right!

[2016-04-06 12:07] spencerwi commented on #40
I've run into this too -- I'd like to use ppx_deriving_yojson for nested data structures, but it blows up on anything that isn't a builtin type.

[2016-04-06 15:51] spencerwi opened #42 "Custom de/serializers for datatypes"
Given a JSON object like this:

[code]

It would be nice to be able to represent this with a datatype:

[code]

where `core_time_of_yojson` is some method that converts Yojson's string representation of the `signupDate` json field to a `Core.Time.t`, and `core_time_to_yojson` is a similar method working the other direction.

[2016-04-06 17:03] rgrinberg commented on #42
Why don't you just wrap `Core.Time.t`?

[code]

and use `My_core.t` in your json types.

[2016-04-06 17:05] spencerwi commented on #42
That would work great! Sorry -- I'm kinda new to the OCaml world and wasn't sure such a thing could be done.

[2016-04-06 17:07] rgrinberg commented on #42
No problem. This is a general ppx_deriving trick btw. It will work with any of the converters not just yojson.

[2016-04-06 20:59] #42 closed

[2016-04-25 19:12] hcarty opened #43 "4.03.0 support"
The build fails when building under 4.03.0, both from opam and master.

[2016-04-25 20:31] whitequark commented on #43
Ping me in about a week.

[2016-05-02 09:58] Leonidas-from-XIV commented on #43
Ping :stuck_out_tongue_winking_eye:

[2016-05-02 13:24] whitequark commented on #43
Wish granted. Note it doesn't handle record variants, that's a separate issue.

[2016-05-02 13:24] #43 closed

[2016-05-02 14:02] hcarty opened #44 "Support for 4.03's inline records for constructor arguments"
[code]

as referenced from #43

[2016-05-02 14:05] whitequark commented on #44
It's unclear what sort of JSON should this correspond to. I think `{"type": "A", "x": 1, "y": 2}` etc is the most straightforward option.

In any case I don't have time to implement that.

[2016-05-02 14:06] hcarty commented on #43
Thanks!

[2016-05-04 11:40] spencerwi commented on #43
Sorry if this is a dumb/rookie question, but is there a way to install this 4.03-compatible version via opam? I've tried `opam pin ppx_deriving_yojson https://github.com/whitequark/ppx_deriving_yojson.git#master`, but I still run into the same compile issue as prior to the fix (`The function applied to this argument has type ~?quoter:Ppx_deriving.quoter -> Parsetree.expression`).

[2016-05-04 14:08] whitequark commented on #43
@spencerwi Nothing wrong with the question--currently this is somewhat broken as I haven't yet released a new ppx_deriving. So you need to pin both ppx_deriving and ppx_deriving_yojson.

[2016-06-11 14:01] slegrand45 opened #45 "Is there a way to install with opam and ocaml 4.03.0?"
Hi,

Trying to install with opam:
[code]

Trying to use the github version:
[code]

So is there any other way to install ppx_deriving_yojson with opam when you have ocaml 4.03.0?

Thanks.

[2016-06-13 14:46] hcarty commented on #45
I think you need to pin `ppx_deriving` and `ppx_import` to `--dev-repo` too.

@whitequark What is remaining to create a 4.03.0-compatible release?

[2016-06-13 20:20] slegrand45 commented on #45
Indeed, that works. Thank you!

[2016-06-13 21:09] hcarty commented on #44
What do you think of `"constructor"` or `"label"` instead of `"type"`?

[2016-06-14 00:24] whitequark commented on #44
I don't have an opinion one way or another. One name makes sense for OCaml, another for how JSON is usually expected to be shaped.

[2016-06-14 00:25] whitequark commented on #45
@hcarty Time... I'll do this soon, just need to find a few hours.

[2016-06-14 17:25] sgrove commented on #21
We're running into this as well - is there any solution for us other than disabling the warning entirely?

[2016-06-14 17:27] whitequark commented on #21
Hm, I'm not sure. @c-cube ?

[2016-06-24 22:37] whitequark commented on #45
3.0 released.

[2016-06-24 22:37] #45 closed

[2016-06-24 23:26] hcarty commented on #45
Thank you!

[2016-06-25 09:02] slegrand45 commented on #45
Thanks!

[2016-07-20 13:42] michipili opened #46 "Problem when deserialising large numbers"
When using **ppx_deriving** with **js_of_ocaml** I have a problem when deserialising not-too-small integers (with ten digits or more). The following code is a minimal example:

[code]

The first test demonstrates that decoding and recoding json text using Yojson works, and especially that js_of_ocaml has no problem with the not-so-small integer constant.

[code]

Replacing the integer type by int6

[2016-07-20 15:36] whitequark commented on #46
It is my understanding based on your report that this problem manifests exclusively on js_of_ocaml, and not natively. In this case this is a js_of_ocaml bug, that is not exposed for some reason when you write the deserialization code explicitly; OCaml does not (apart from the Obj module that I don't use) have a concept of "undefined behavior", so if it works on ocamlc, it ought to work the same wa

[2016-07-20 15:36] #46 closed

[2016-07-20 15:39] whitequark commented on #46
Incidentally, the code generated by ppx_deriving_yojson for your record basically consists of <code>match `Int x -> Result.Ok (x) >>= ...</code> with some fluff around it to handle the field name. ppx_deriving_yojson doesn't do any manipulation of the integer value whatsoever, that's all inside yojson. So I really don't see how it can be responsible here.

[2017-02-09 21:02] ihodes opened #48 "Can't `make`"
Using 4.03.0, cppo 1.4.1, ppx_deriving 4.1
[code]

[2017-02-09 21:16] ihodes commented on #48
Er, that's just a warning. The error I was seeing earlier was resolved.

[2017-02-09 21:16] #48 closed

[2017-04-22 11:54] whitequark commented on #44
Fixed in #50.

[2017-04-22 11:54] #44 closed

[2017-05-04 15:20] vogler opened #51 "support for OCaml >=4.04.0"
Installation via `opam pin` fails for OCaml versions 4.04.0 and 4.04.1:

[code]

Is this easy to fix?

[2017-05-04 15:32] vogler commented on #51
Sorry, didn't see the pull request (I have ppx_deriving pinned). Works.

[2017-05-04 15:32] #51 closed

[2017-05-05 12:52] vogler opened #52 "`[%to_yojson: int list]` gives `'a list -> ...`"
Is there a reason why this is polymorphic?

[code]

Version 3.0

[2017-05-05 13:29] whitequark commented on #52
No reason other than me not placing an explicit constraint. Actually I'm not sure I understand why it works that way at all.

[2017-05-17 18:23] vgrocha commented on #21
Hey guys, any updates on this issue?

[2017-05-18 10:00] emillon commented on #21
It's possible to generate code like this to wrap the suppression within a given scope, maybe that's a viable solution.

[code]

[2017-05-18 11:47] whitequark commented on #21
I will not be implementing a fix for the warnings.

[2017-05-18 11:49] emillon commented on #21
I'm not sure what you mean - would you accept a PR that fixes them, though?

[2017-05-18 12:43] whitequark commented on #21
Of course, I will.

[2017-05-23 13:50] vogler opened #53 "cycle detection"
Currently, cyclic values lead to a stack overflow. It would be nice to have some option (maybe just for debugging) to get some information where a cycle happened.

[code]

[2017-08-24 06:45] akabe opened #56 "Does ppx_deriving_yojson support OCaml 4.05?"
I met a compile error when I install ppx_deriving_yojson 3.0 in OCaml 4.05.0. It seems that the error depends on the definition of parse tree of OCaml.

[code]

[2017-08-28 17:11] tomjridge opened #57 "Enhancement request: of_yojson throw runtime exception rather than return result"
This would be useful in cases where it is known that the json is of the right format, i.e., the exception will not in fact be thrown. Possibly also useful if you prefer exceptions to results (perhaps there are a few situations where an exception is the right choice?)

[2017-08-28 17:26] hcarty commented on #57
Two (relatively) simple ways this could be added.  One is to add an option within the annotation to specify if you want the exception-raising or the `result`-returning version.  Another is to generate two functions (`of_yojson` and `of_yojson_exn`).

For now, if you want to assume the format is correct or directly convert the `result` to an exception if it's an `Error` you can use something like h

[2017-08-28 17:39] tomjridge commented on #57
I guess I probably prefer the of_yojson_exn version rather than the annotation. For the moment I am just pattern matching on the result which is not a big issue really.

[2017-08-29 04:11] whitequark commented on #57
PR for of_yojson_exn will be accepted.

[2017-08-29 18:06] dannywillems opened #58 "Unbound value `to_json`."
I try with a simple code:
[code]

I have these lines in the jbuild file.
[code]
And these lines in the `test.ml` file.
[code]

When using `jbuilder build @install`, I have the following error:
[code]

Of course, I tried with `t_to_yosjon` but it doesn't work.
[code]

[2017-08-31 17:03] emillon commented on #58
Indeed, that should work. The solution from [this comment](https://github.com/ocaml-ppx/ppx_deriving_yojson/pull/49#issuecomment-320978526) works: adding `true: linkall` fixes this issue.

[2017-09-01 12:04] xclerc opened #59 "Flattening of `option` values"
I am unsure how important this is  in practice, but the encoding of
`option` values makes `Some (Some (... None))` equal to `None`.
Could this be an issue [when using types whose definitions are unknown]?

[code]

[2017-09-07 13:39] emillon commented on #59
That's the case with any type whose serialization can include `null`. For example `[%of_yojson: unit option]` serializes both `Some ()` and `None` as `null`. I don't think it's a problem (and it's not really fixable), but that's probably worth mentioning in the "semantics" paragraph.

[2017-09-12 16:29] #52 closed

[2017-09-15 14:00] xclerc commented on #59
Thanks for the feedback!

[2017-09-21 14:41] agarwal opened #62 "infinite loop in presence of nonrec types"
[code]

[2017-09-21 16:06] agarwal commented on #62
Another way to see the problem:
[code]

Last command shouldn't even compile since first definition of `t` lacks the corresponding derived functions.

[2017-09-21 20:27] kmicinski opened #63 "Deriving with ocaml 4.05"
[code]

This confuses me, because if I'm reading the other issues correctly, it appears that I should be able to install.

[2017-09-29 12:00] emillon commented on #63
Just to be sure, did you run `opam update` before?

[2017-09-29 12:38] kmicinski commented on #63
Yes, and this happened on two separate builds, a Linux and MacOS machine. We eventually downgraded the OCaml version.

[2017-09-30 10:17] mindbound commented on #63
I'm also getting the same error. What are the reasons that prevent ppx_deriving_yojson to be updated for 4.05?

[2017-09-30 10:19] whitequark commented on #63
Maintainer overload.

[2017-09-30 10:21] mindbound commented on #63
That's understandable. Thank you for the quick response.

[2017-09-30 16:48] slel commented on #63
Note: this prevents installing [the "ocaml-jupyter" Jupyter kernel for OCaml](https://github.com/akabe/ocaml-jupyter) with OCaml 4.05.
See https://github.com/akabe/ocaml-jupyter/issues/52#issuecomment-333112779.

[2017-09-30 20:08] mindbound commented on #63
This also prevents [Kremlin](https://github.com/FStarLang/kremlin) to be compiled with OCaml 4.05.

[2017-11-13 04:38] apatil opened #65 "Expose deriver for use by other derivers?"
I'm working on a library, https://github.com/apatil/aplomb, that involves a ppx deriver. The deriver needs to emit `to_yojson` as well as a few other functions that are specific to my library.

Put another way, in the example in the https://github.com/apatil/aplomb/README.md, I currently have `[@@deriving yojson,aplomb]`. I'd like to shorten that to `[@@deriving aplomb]` but still have ppx_derivin

[2017-11-13 04:43] whitequark commented on #65
I agree this is valuable. Please submit a patch. I'll review the overall architecture.

[2017-11-17 09:12] maelvalais commented on #58
In 517a535e624186c20db555e576c0539c66b27ddf, the `true: linkall` has been added. To use this version (master):

    opam pin add ppx_deriving_yojson --dev-repo

[2017-12-01 16:22] rauanmayemir commented on #58
@dannywillems did you find a solution to the issue?
I'm using latest v3.1 with jbuilder config similar to yours.

If I set `ppx_deriving_yojson` in pps, I keep having `Warning 39: unused rec flag`.
And if I leave only `ppx_deriving`, I get `Error: Unbound value of_yojson` (or mytype_of_yojson).

[2017-12-10 11:25] gasche commented on #58
@dannywillems, does using the latest versions of ppx_deriving and jbuilder and ppx_driver fix your issues?

[2017-12-10 11:49] rgrinberg commented on #58
Having the latest ppx_type_conv is critical here as well.

[2017-12-11 09:19] emillon commented on #58
`ppx_type_conv.v0.9.1` is only available on OCaml >= 4.04. I seem to recall that because one of its dependencies, `ppx_driver.v0.9.2` is only available on >= 4.05. Is there a solution to continue supporting older compiler versions?

[2017-12-11 09:30] diml commented on #58
@emillon `ppx_type_Conv.v0.9.1` depends on `ppx_driver >= "v0.9"`, so that shouldn't be the issue

[2017-12-11 10:20] emillon commented on #58
@diml I'll try to reduce the problem, which is tough since there are many packages involved. On which repository can I open an issue?

[2017-12-11 10:57] diml commented on #58
you can open it on `ppx_type_conv`

[2017-12-25 01:48] dannywillems commented on #58
Everything is OK now with the last versions. Thanks.

[2017-12-25 01:48] #58 closed

[2018-02-06 06:48] stevebleazard commented on #57
This can now be closed as #68 resolved this

[2018-02-06 07:00] stevebleazard commented on #21
PR #68 fixed this and a couple of other warnings so I think this PR can be closed without a merge

[2018-02-06 07:12] #57 closed

[2018-02-06 07:58] #21 closed

[2018-02-06 08:08] stevebleazard commented on #63
4.05 and 4.06 now install without issue. This can be closed

[2018-02-06 08:12] #63 closed

[2018-02-06 08:12] whitequark commented on #56
Install on 4.05 works now.

[2018-02-06 08:12] #56 closed

[2018-03-14 16:06] shayne-fletcher opened #72 "Extensible (polymorphic) variants"
This code defeats `ppx_deriving_yojson`:
[code]
The problem seems to lie with the [ext_of_yojson] function.

Here's the error as shown in utop
[code]

[2018-03-22 21:53] andrenth opened #73 "Associative lists as JSON objects"
Hi

Is there a way to get an associative list to be converted to a JSON object instead of an array of arrays, similarly to atdgen's `<json repr="object">`?

[2018-03-22 21:53] whitequark commented on #73
Nope!

[2018-03-22 22:00] andrenth commented on #73
Is there a workaround? In many situations the JSON object has arbitrary keys, so defining a record is not possible.

[2018-03-22 22:02] whitequark commented on #73
Define a newtype and manually implement `of_yojson` and `to_yojson` functions for it.

[2018-03-23 18:05] andrenth commented on #73
Got it, thanks.

[2018-03-23 18:05] #73 closed

[2018-04-19 16:38] emillon opened #76 "of_yojson_exn breaks code that defines of/to_yojson by hand"
I'm commenting a bit late on the issue, but adding `of_yojson_exn` (see #68) breaks all code that defines `of_yojson` by hand (`[@@deriving of_yojson]` in the mli, `let of_yojson` in the ml).

This means that to support this, users will have to copy/paste `let of_yojson_exn json = match of_yojson json with Ok x -> x | Error e -> failwith e` or similar. It would be nice if `ppx_deriving_yojson` cou

[2018-04-20 09:54] whitequark commented on #76
cc @stevebleazard

I think the right path here is to make the feature opt-in, not revert. Opinions @ocaml-ppx/deriving?

[2018-04-20 11:54] emillon commented on #76
To make this feature play nice with existing code, we could also always use `of_yojson` from dependencies instead of calling `of_yojson_exn` recursively. That way, it can use dependencies that do not have `exn = true` (that's similar to how `show` uses `pp`, so defining `pp` in libraries is enough).

[2018-04-20 12:09] whitequark commented on #76
I agree that this is better.

[2018-05-03 23:55] mars0i opened #77 "No ty_of_yojson_exn defined?"
The README says that three functions are defined, including `ty_of_yojson_exn`.  I am only getting the other two functions:
[code]
Is the README out of date, or is something going wrong?

[2018-05-03 23:57] whitequark commented on #77
This isn't present in a release version (and is blocked by #76).

[2018-05-04 00:00] mars0i commented on #77
Ah, OK.  So the README is currently wrong for the latest opam release but this is a temporary issue that may be resolved in the code.  Thanks.

[2018-05-22 21:51] hcarty opened #78 "Error locations incorrect when a deriver is missing"
Compiling the following reports an error with no location.  It should probably be on the `j` in `y: j`.  This is using the version 3.1 or the latest `master` branch of ppx_deriving_yojson and ppx_deriving 4.2.1.

`test.ml`
[code]

`jbuild`
[code]

Build error with:
[code]

[2018-10-04 21:25] alexozer opened #79 "Cannot use non-int default value with to_yojson"
Applying default value to record fields that aren't of type int seem to fail with a type error when using `[@@deriving to_yojson]`:

This seems to work:

[code]

But when using to_yojson or yojson instead of of_yojson:

[code]

I get:

[code]

Eliminating the default on string works with to_yojson and yojson, however:

[code]

[2018-10-05 06:58] gasche commented on #79
Which version of OCaml and ppx_deriving_yojson are you using? I cannot reproduce the problem under 4.06.1 or 4.07.0. The generated code is as follows (`ocamlfind ocamlc -package ppx_deriving_yojson -dsource -c test.ml`):

[code]

In particular, `"sdfasdf"` is correctly tested against the `x.str` type, which has type `string` as expected.

[2018-10-30 15:58] NathanReb opened #80 "Improve error messages"
It would be nice to improve the error reporting of the derived `of_yojson` functions as it would really ease debugging errors in the parsed json or in hand written parsers involved.

Some of them can be improved quite easily:
[code]
is
[code]

I think in general it would also be a huge improvement to be able to track the error location through the json structure.

For example, if we consider the f

[2018-11-03 10:37] gasche commented on #80
The requirement/need/wish seems very sensible to me. Two remarks:

- The error-reporting scheme should not hurt performance too much. I am highly confident that it's possible to have both at the same time (your idea of recursively passing an "access path" to the parser to report where the problem is seems mostly free), but I would expect any change to come with summary benchmarks to measure this.

[2018-11-05 03:28] whitequark commented on #80
(Agreed on both counts.)

[2018-11-10 23:04] jnfoster opened #81 "Possible name clash with String?"
If I put the following code in a file `tester.p4`,
[code]
and compile it in a directory with this Dune file,
[code]
I get a binary that works as expected:
[code]

However, if I rename the `MyString` module to `String`,
[code]
and recompile, I get an error:
[code]
I understand that PPX-based rewriters often do something special with base types and other built-ins, but I'm surprised this doesn't wor

[2018-11-22 07:58] whitequark commented on #81
This is because Pervasives and stdlib modules are injected explicitly into the rewritten code, so that the *internal* ppx rewriter operations (like `printf` or `==`) would be hygienic. I think the rewritten code can be massaged to make your use case work, but I'm afraid I don't have time to do it myself.

[2018-12-01 18:35] anmonteiro opened #83 "New release"
This library hasn't seen a release in a while. Would it be possible to release to OPAM?

I can help if needed

[2018-12-03 18:01] haskellcamargo opened #84 "Exclude key from serialization"
I'd like to omit some keys (with complex values) from being serialized/deserialized and managed by `ppx_deriving_yojson`.

[code]

In this situation, I want to serialize `class_name` and `long_name`, but I'd like to omit `data_variables` and `methods`. How can I force it to not handle them (in a way other than creating a dummy `*_to_yojson` implementation)?

My suggestion is something like `[@opaq

[2018-12-06 14:09] gasche commented on #83
Yes, of course it is reasonable to do an OPAM release. Your help would be appreciated because right now I am too short on time to do it myself.

How to build, test and release `ppx_deriving_yojson` is completely flushed out of my short-term memory, especially since I'm not yet familiar with dune-specific release automation ( ppx_deriving_yojson recently migrated to dune, #69 ). Help for any of the

[2018-12-11 15:35] anmonteiro commented on #83
@gasche I opened https://github.com/ocaml-ppx/ppx_deriving_yojson/pull/85 with most of your suggestions, and some additional work. I explain them in more detail below.

I tested `ppx_deriving_yojson` on my end, both by running the tests and in a project that uses it (pinned the development version). All is good. `make` / `make build` and `make test` work fine.

Furthermore, I included a `CONTRIBUT

[2018-12-11 15:52] gasche commented on #83
Thanks a lot! This is great.

Sounds good. Let's leave it at that for now; the OPAM repository has continuous integration that will catch breakage with recent versions of our dependencies, so if you overlooked something we should still notice.

Great!

I'll do it on my end.

I think that cool kids use [dune-release](https://github.com/samoht/dune-release) these days, but I am familiar with the man

[2018-12-11 15:52] anmonteiro commented on #83
I just updated the CHANGELOG in #85. Apart from the instructions on how to do a manual release, it should be good to go?

[2018-12-14 04:33] gasche commented on #83
I tagged the release, and sent a PR to the opam repository: https://github.com/ocaml/opam-repository/pull/13146

[2018-12-15 15:30] gasche commented on #83
So https://github.com/ocaml-ppx/ppx_deriving_yojson/issues/76 causes compatibility. I'm pausing the release and looking at this right now. @anmonteiro, if you happen to have some time for it, I might invite you to review code and test a fix on your end.

[2018-12-15 15:31] anmonteiro commented on #83
@gasche definitely. Ping me in the PR and I'll do it

[2018-12-15 16:36] #76 closed

[2018-12-15 16:44] gasche commented on #83
New opam-repository PR at

  https://github.com/ocaml/opam-repository/pull/13150

Let's see what the revdeps testing says...

[2018-12-15 22:12] ELLIOTTCABLE opened #87 "Does ppx_deriving_yojson support GADTs, or am I using it completely wrong?"
Hi! I'm still pretty new to strictly typed languages in general, much less OCaml — maybe a year or so — so forgive me if this is suuuuuper obvious! Don't want to waste anybody's time!

So, I've got a pretty central type from my lexer that looks like this:

[code]

I'm [consuming it in a file that I'm trying to use Yojson in](https://github.com/ELLIOTTCABLE/excmd-parser/blob/7e682767/src/aST.ocaml.

[2018-12-15 22:13] whitequark commented on #87
I don't think ppx_deriving_yojson supports GADTs, but also I think your code should work. It seems to be a bug.

[2018-12-15 22:19] ELLIOTTCABLE commented on #87
Christ @whitequark, a minute and a quarter — that's gotta be some sort of new record 🤣.

Okay! I think that's good news! Let me know if you need any help narrowing it down or reproducing it; my setup is really strange.

Random maybe-relevant numbers:

- OCaml: `4.02.3`
- ppx_deriving_yojson: `3.1`
- ppx_deriving: `4.2.1`
- ppx_tools: `5.0+4.02.0`
- yojson: `1.4.1`

(The rest are in the linked repo

[2018-12-15 22:47] whitequark commented on #87
Unfortunately I haven't touched any of my OCaml code in... probably close to two years at this point. Been doing other things.

[2018-12-16 16:01] gasche commented on #83
The new release is now released on opam, closing.

Thanks a lot @anmonteiro for your gentle push and your help, and @emillon and @whitequark for your short-order review and comments.

[2019-01-05 09:10] useada opened #89 "Can i use it in reasonml?"
I use it in reasonml, compile with esy/dune, but got some error like this:

`
This is a syntax error.

Note: the location indicated might not be accurate.

error: command failed: 'refmterr' 'dune' 'build' '-p' 'hello-reason'
esy-build-package: exiting with errors above...
error: build failed
  building hello-reason@0.1.0
esy: exiting due to errors above
`

my dune file likes this:

`
(preprocess

[2019-01-17 14:42] rizo commented on #89
You haven't shown the most important part – the syntax error in your source code.

In any case, I created a simple esy+dune project with `ppx_deriving_yojson`.

**package.json:**
[code]
---

**dune:**
[code]
---
**Main.re:**
[code]
---

With this you should be able to run `esy install; esy build; esy x Main`.

Hope this helps.

[2019-02-04 20:20] Mishio595 opened #93 "Update type signatures for yojson >= 1.6.0"
Yojson recently released version 1.6.0 and they are now deprecating the `json` type names in favour of `t`. The `json` types will be removed in the next major release.
See https://github.com/ocaml-community/yojson/releases/tag/1.6.0

[2019-02-04 20:22] #93 closed, assigned to nobody

[2019-02-22 19:16] bluddy opened #94 "Update opam"
Version 3.3 constrains yojson to < 1.6.0, which means only ocaml <= 4.06.0 is supported. Please release a version to opam that opens up this constraint.

[2019-02-22 22:58] AlexKnauth commented on #94
For a temporary workaround until the next release, you can pin the repository:
https://github.com/ocaml-ppx/ppx_deriving_yojson/issues/93#issuecomment-460398487

[2019-03-05 04:42] Chimrod commented on #79
i can reproduce it if I insert `open Base` before the definition. This give the following code :

[code]

[2019-03-05 06:26] gasche commented on #79
So I guess that the issue comes from Base redefining `(=)` to work on integers only. This means that the code that emits `(=)` should explicitly use it from the Ppx_deriving runtime.

[2019-03-05 06:30] lezed1 commented on #79
It looks like `Base` shadows `( = )` to be `int -> int -> bool` (making it non-polymorphic). This would cause the [generated code](https://github.com/ocaml-ppx/ppx_deriving_yojson/blob/cadb5f653d4c2a94bc9e601c02dac75698cd5b97/src/ppx_deriving_yojson.cppo.ml#L260) to only work on `int`.

Here are the relevant parts of `Base`:
[Defining `( = )`](https://github.com/janestreet/base/blob/c81240c038e434

[2019-03-05 07:54] diml commented on #79
FTR, for Jane Street ppx rewriters we got into the habit of systematically adding runtime libraries and generating code that references the runtime library. This make the rewriters more robust as they make much less assumption about the environment.

[2019-03-05 09:09] gasche commented on #79
Yes, that's also the general ppx_deriving approach, but I guess that this particular function slipped up.

I wonder if we could have some tooling support for these hygiene-breakage detection. One idea would be to try to statically analyze the preprocessor code (all identifiers accessed by the code must be either local or to a list of explicitly specified modules), or to use lightweight annotations

[2019-03-05 09:24] diml commented on #79
A static analyzer would be nice. A simpler version would be to have tests compiled in an empty initial environment.

[2019-03-05 18:25] fare commented on #94
Can ppx_deriving_yojson make a release, even a minor release, so as to unbreak opam?

[2019-03-11 09:47] NathanReb commented on #94
@bluddy could you further explain why that means `ocaml<=4.06.0`? Neither `ppx_deriving_yojson` nor `yojson` seem to have an upper bound on the ocaml version, maybe I'm missing something.

@gasche a release would indeed be nice, I'm happy to help with `ppx_deriving_yojson` if you need some!

[2019-03-11 21:52] gasche commented on #94
I now have pre-releases of [ppx_deriving](https://github.com/ocaml/opam-repository/pull/13652) and [ppx_deriving_yojson](https://github.com/ocaml/opam-repository/pull/13653) in the opam-repository pipeline. These are not releases yet, I want to look at the reverse-dependencies (revdeps) CI reports to see the affect on users. If this goes well, the release should be soon; but help to triage the rev

[2019-03-15 03:20] varunpatro commented on #87
Is there any update on this @whitequark?

How did you proceed from here @ELLIOTTCABLE?

[2019-03-15 09:53] whitequark commented on #87
No, there isn't any update on this. Why would you expect any? I no longer work on any of this code myself.

[2019-03-15 10:05] gasche commented on #87
To complement @whitequark answer: ideally we would indeed have support for some forms of GADTs (some subsets may be easier to handle than others, and some plugins may make this easier than others), but no one is working on this as far as I can tell. It's an interesting problem, so if there are any volunteers, please speak up :-)

[2019-03-19 10:51] emillon commented on #80
Just improving error messages in these case (without adding location) is a nice quick win. I just got bit by `[%of_yojson: string]` returning `Error ""` and had no idea where to start :)

[2019-04-16 13:38] ian-barnes opened #96 "Stack overflow serialising long list"
Serialising an array with many (i.e. hundreds of thousands) elements using the generated `to_yojson` function produced a stack overflow. Tracked this down to the use of `List.map` in this snippet of the generated code:
[code]
Replacing `List.map` with the tail-recursive `List.rev_map` fixes this but reverses the order. Calling `List.rev` on the result of `List.rev_map` should generate correct resu

[2019-04-16 22:05] AlexKnauth commented on #96
Is this a known limitation of `List.map`, or is it something that can be fixed on the `List.map` side?

Could `List.map` detect when it would otherwise overflow the stack, and if it would, allocate on the heap instead? (That's basically what the `rev_map` `rev` thing would do, but only in the just-before-overflow special case.)

[2019-04-17 19:10] vphantom commented on #84
Just FYI, my work-around has been to use `[@default …]` on those fields like you, and to pass a masked copy of the records of interest to Yojson, with those fields set to their default values.  They won't be output.

(Of course, Base/Core redefine `(=)` to be integer-specific which limits ppx_deriving_yojson's checks for default values, so we have to work around that too.)

[2019-04-17 19:23] vphantom commented on #79
Wouldn't the simplest short-term solution be to shadow with an explicit `let (=) = Stdlib.(=)` in `Ppx_deriving_yojson_runtime` to benefit the generated code?

It seems so trivial to add, that I bet I'm missing some obvious reason why that wouldn't be appropriate. :thinking:

[2019-04-17 19:24] whitequark commented on #79
No, it's just an oversight:

[2019-04-17 19:28] vphantom commented on #79
Should I make this my very first OCaml PR? :wink:

[2019-04-27 13:44] ejgallego commented on #87
I am certainly interested in having GADTs work better with deriving; but can't promise any work in the short term. See also https://github.com/janestreet/ppx_sexp_conv/issues/8

[2019-05-05 09:37] XVilka commented on #94
WIP PR is here https://github.com/ocaml/opam-repository/pull/14018

[2019-05-05 10:35] NathanReb commented on #94
I'm releasing a new version of `Yojson`, reverting the deprecation warning which brought nothing but trouble so far.

That should solve it until a new version of `ppx_deriving_yojson` is released.

See https://github.com/ocaml/opam-repository/pull/14090

[2019-05-10 05:24] ELLIOTTCABLE commented on #87
Also-see-also: ocaml-ppx/ppx_deriving#7.

[2019-05-24 08:04] ian-barnes commented on #96
Actually the OCaml-containers `CCList.map` does exactly what you're suggesting, with different behaviour depending on the length of the list. See https://github.com/c-cube/ocaml-containers/blob/8e3dc5e006cfd82c78c7784b366b637189191d07/src/core/CCList.ml#L104

[2019-05-24 11:52] AlexKnauth commented on #96
Now is it worth a dependency on `ocaml-containers` or some other package that implements `map` properly?
 * yes -> depend on package, use their map function instead
 * no -> implement map here in `ppx_deriving_yojson_runtime.ml` ??

[2019-05-24 11:56] gasche commented on #96
No, I don't think this is worth an extra dependency. We could just use `List.rev (List.rev_map f li)` for now, and wait for [tail-recursion modulo cons](https://github.com/ocaml/ocaml/pull/181) to arrive so that `List.map` becomes tail-recursive again.

[2019-05-24 13:03] AlexKnauth commented on #96
Is there a length of list to check that would be a stack overflow on most machines?

I'm trying to make a test that would fail with the current implementation but succeed with a stack-safe `rev` and `rev_map`. However, the tests I've tried aren't even failing when I use a list of length `1000000` (1 million).

[2019-05-24 13:17] gasche commented on #96
On my machine `ulimit -s` reports a stack-size limit of 8192. My suspicion is that the test you generate is not hitting this `List.map` call, because I think a million elements should blow the stack on basically any machine.

P.S.: I can't read the integer literal you wrote to check that it is a million, do not hesitate to use underscores in numeric literals: `1_000_000` is immediately checkable f

[2019-05-24 14:00] #96 closed

[2019-06-06 08:01] ian-barnes commented on #96
Nice! Many thanks. I think it's an improvement. Can't really see any serious downsides...

I'm not super-familiar with GitHub processes... My understanding is that this is now merged back to the master branch but not yet released. Is that correct? When do you anticipate making a new release with this change included in it?

[2019-06-14 15:10] AlexKnauth commented on #94
Now that https://github.com/ocaml/opam-repository/pull/14259 is in and version 3.4 is released on Opam, is this issue resolved?

[2019-06-14 23:13] gasche commented on #94
Yes -- for the time being. The thing with releases is that you are always late for the next one ;-)

[2019-06-30 00:19] Mishio595 opened #98 "OCaml 4.08 support"
Currently, this fails to compile on OCaml 4.08 due to Pervasives being deprecated.
ppx_tools and ppx_deriving have both added support for 4.08

[2019-07-02 23:44] anmonteiro commented on #98
FWIW the failure under 4.08 is actually the following:

[code]

[2019-07-09 21:34] #98 closed

[2019-07-12 08:09] MattWindsor91 opened #100 "`to_yojson` expects safe_map to be directly in scope"
On `ppx_deriving_yojson` v3.5, OCaml 4.07.1, with both the ppx and the runtime library referenced in dune (and implicit transitive dependencies _off_):

[code]

Nothing else seems to expect `Ppx_deriving_yojson_runtime` to be `open`, so I'm assuming this is a bug.

I haven't yet made a minimum working example project, but this seems to trigger even if the offending line is the first non-comment li

[2019-07-12 08:16] gasche commented on #100
This seems to be a bug indeed... I saw some of these failures in the CI testing, but only on old versions of the affected software, so I didn't connect the dots. Silly me! I will try to get a fix ready at some point this week.

[2019-07-12 12:09] gasche commented on #100
So it turns out that our testsuite does test the `list` deriver, but not the `[%of_json ..]`, `[%to_json ..]` forms where the problem occurs -- when using `[@@deriving yojson]` on the same type, the generation is currently wrapped with `Ppx_deriving_yojson_runtime` quantifications.

[2019-07-14 08:22] gasche commented on #100
The bug was fixed in #101, and I'm going to release 3.5.1 with the fix.

[2019-07-16 06:14] XVilka opened #103 "Port to ppxlib"
To reduce the maintenance needed for upgrading the compiler version.
See also https://github.com/ocaml-ppx/ppx_deriving/issues/203 and https://github.com/ocaml-ppx/ppx_deriving_protobuf/issues/28

[2019-07-16 09:43] MattWindsor91 commented on #100
Cheers!  3.5.1 appears to work fine now (except for the quick fix I made to bring `safe_map` into scope now triggering an unused warning :D)

[2019-07-16 09:43] #100 closed

[2019-07-20 09:37] gasche commented on #103
[ppx_yojson_conv](https://github.com/janestreet/ppx_yojson_conv) partly fits the bill, but it's not compatible with existing users of `ppx_deriving_yojson` so it's not exactly a Ppxlib port. (If there was a mode that exposes the same interface, I would be happy to recommend that our users switch.) At least it may be a good idea to look at their code and try to reuse some of it when trying to do a

[2019-08-20 22:26] roddycx commented on #89
What about using BuckleScript? I think that just needs an executable but I'm not sure where to get that.

[2019-08-29 11:56] MikkelStorgaard opened #104 "ppx_deriving_yojson generates a bad signature (val _ : ....)"
I'm on Ocaml 4.07.1 and ppx_deriving_yojson 3.5.1 and eliom 6.7.0

It seems like ppx_deriving_yojson is generating an extra function with the name `_`, for the last of the derived types.
Am I doing something wrong?

[code]

[2019-08-29 12:02] MikkelStorgaard commented on #104
I can circumvent it by removing the offending line, but this is not a stable solution.

[2019-08-29 13:42] gasche commented on #104
An early attempt at reproducing this locally (see below) fails to reproduce on my machine (ppx_deriving_yojson 3.5.1, OCaml 4.08). (Out of curiosity, what is your ppx_deriving version? Is your build really using ppx_deriving, or a different implementation specific to Eliom/Ocsigen? Can you reproduce the failure in a non-eliom project?)

[code]

[2019-08-30 14:12] MikkelStorgaard commented on #104
My build was using the actual ppx_deriving, and trying it out with normal OCaml/no Eliom, I couldn't replicate this either.

But I've made an issue in Ocsigen/tuto instead, which is where I found the instructions that lead to this in the first place.

[2019-08-30 14:12] #104 closed

[2019-09-05 14:31] linse opened #105 "Outdated function in docs"
Hi, thanks for your library, I tried to use
`val ty_of_yojson_exn : Yojson.Safe.t -> ty`
but it does not work for me. The other functions work. I think the docs need an update.
Have a good day! :)

[2019-09-05 14:41] #105 closed

[2019-09-05 14:42] gasche commented on #105
Thanks! I fixed the documentation -- you have to explicitly pass the option `{ exn = true }` to also get that function generated.

[2019-09-23 05:49] XVilka commented on #103
See https://github.com/ocaml-ppx/ppx_deriving/pull/206

[2019-10-07 12:58] cemerick opened #106 "Custom en/decoding attributes"
Deriving's [show plugin](https://github.com/ocaml-ppx/ppx_deriving#plugin-show) allows one to use `@printer` to specify custom printers, e.g. from that README:

[code]

It seems like an analogous ability here would be very useful. e.g. there are other tagged enhancements (e.g. #10, #87) for which `@to_yojson`/`@of_yojson` attributes would be reasonable workarounds / solutions.

Does this sound rea

[2019-10-07 13:04] whitequark commented on #106
Yeah, `[@to_yojson]`/`[@from_yojson]` seem fine.

[2019-10-09 18:01] cemerick commented on #10
FYI: it's not the sort of automatic derivation that is envisaged here, but a workaround is now available on master via the `@to_yojson` and `@of_yojson` attributes (analogous to the show's `@printer` attribute).

[2020-01-01 12:18] dexterleng opened #113 "Serializing Hashtbls with [@to_yojson]: Unbound value Hashtbl.to_yojson"
I am trying to serialize Hashtbls as associative lists in JSON.

Following the example in the docs:

[code]

I get this error:

[code]

[2020-01-25 18:41] ttamttam commented on #113
I was to report the following, but it seems to me I hit the same problem:

I would have expected
[code]
in the following?

[code]

[2020-01-28 15:54] roddyyaga commented on #89
Update: yes you can use it in BuckleScript; see my fork [here](https://github.com/roddyyaga/bs-ppx_deriving_yojson).

[2020-02-06 14:30] gs0510 opened #114 "to_json / of_yojson attribute example doesn't compile!"
The compilation of the example [here](https://github.com/ocaml-ppx/ppx_deriving_yojson#to_yojson--of_yojson) fails with
[code]

My workaround right now is to define:
[code]

[2020-03-14 12:04] RCmerci commented on #114
same problem with ppx_deriving_yojson   3.5.1

[2020-04-22 17:10] rwmjones opened #116 "Fails to build on OCaml 4.11 because Pconst_string added an extra Loc.t parameter"
[code]

[2020-04-22 17:18] rwmjones commented on #116
This is the downstream patch I have applied to work around this:
https://src.fedoraproject.org/rpms/ocaml-ppx-deriving-yojson/blob/master/f/ocaml-411.patch

[2020-04-25 20:59] chetmurthy opened #117 "suggestion: a shared unit-test for all the deriving plugins"
I've noticed that ppx_deriving_yojson has a far more comprehensive testsuite than the other plugins.  I think it might be useful if all the various plugin authors contributed to a shared testsuite that ensured that they all met the same high standard that I believe ppx_deriving_yojson meets.

I'm in the process of reimplementing your plugin on top of camlp5, and I'll be producing something like th

[2020-04-25 21:00] whitequark commented on #117
I'm sorry, reimplementing on top of *what*?

[2020-04-25 21:04] chetmurthy commented on #117
I'm reimplementing ppx_deriving, ppx_import, and ppx_deriving_yojson (soon, ppx_deriving_sexp) using camlp5: https://github.com/chetmurthy/pa_ppx

I've upgraded camlp5 so it understands all the new syntax up to Ocaml 4.10.0 (well, I might have missed a few things, but eventually I'll write tests to find them) and so now I have what amounts to really nice "metaquotation" (camlp5 calls them "quotati

[2020-04-25 21:05] chetmurthy commented on #117
I should add that tomorrow will be the end of week two of this effort: before that, I was focusing on getting camlp5 to the point where it could properly parse/prettyprint/represent all ofocaml 4.10.0 syntax.

[2020-04-25 21:08] hhugo commented on #117
Are you aware that deriving and deriving_yojson exist for camlp4 (I don't know how much camp4 and camlp5 differ though)

[2020-04-25 21:12] whitequark commented on #117
To be honest, this makes me sad, because my #1 motivation for developing ppx_deriving in the first place was to get rid of camlp4, which in my opinion was one of the major downsides of participating in the OCaml ecosystem.

But I suppose you have your reasons, and I don't really use OCaml anymore anyway.

[2020-04-25 21:17] chetmurthy commented on #117
I knew that all these things existed for camlp4.  But (a) camlp4 is incredibly backlevel, (b) didn't support a lot of the stuff camlp5 did, and (c) in any case, even camlp5 was incredibly backlevel, compared to modern Ocaml.

I can appreciate why you didn't like campl4: I didn't like it much either, b/c it was somewhat broken.  But OTOH, I think that if it's a choice between (1) writing PPX rewrit

[2020-04-25 21:36] whitequark commented on #117
A few; some Rust, but mostly Python, since I found myself maintaining a Python-embedded hardware description language.

I never liked Python at all, but it provides a common ground for a lot of people (in this case, EEs, FPGA/ASIC engineers, etc) who see programming as a means to an end and wouldn't even bother looking into an OCaml-embedded HDL (I considered that, I asked around, I realized it wo

[2020-04-25 21:49] chetmurthy commented on #117
Fascinating.  I'd heard of "BlueSpec" which is apparently a Haskell-derived HDL, but not about one based on Python.

[2020-04-25 22:15] whitequark commented on #117
Nope, nMigen (which is a clean slate, backwards compatible reimplementation of Migen).

[2020-05-07 04:21] XVilka commented on #116
Will be solved by https://github.com/ocaml-ppx/ppx_deriving_yojson/pull/118

[2020-05-07 04:26] XVilka commented on #117
@chetmurthy if you are curious about various HDLs, you can read a lengthy discussion and various references [here](https://github.com/SymbiFlow/ideas/issues/19).

[2020-05-08 18:59] chetmurthy opened #119 "achieving @@deriving for extensible variants that have already been extended"
I'm trying to figure out the right way to express @@deriving directives for extensible variants that have already been extended, and thought that I'd see if you all had some thoughts.

1. Background
when we want to express @@deriving for a type that's already been declared, we can do it thus:
[code]
but there is no equivalent for extensible variants.  If we have an extensible variant type "exn" th

[2020-05-09 19:57] gasche commented on #119
This seems very ad-hoc to me. I would rather:
- consider using `ppx_import`, which is ad-hoc but its own pre-existing kind of ad-hoc
- change the language to allow `of ...` in extensible variant rebinding, so that what you suggest can be written as valid OCaml.

One issue with the second approach is that the most natural syntax creates an ambiguity between "a rebind that leaves the parameters out"

[2020-05-09 20:08] chetmurthy commented on #119
I don't believe you can use `ppx_import` to achieve the goal of allowing full @@deriving support for extensible polymorphic variants.  I might be wrong, though.  Here is my reasoning:
(1) if I extend a type t with a constructor E, then the next time I extend it, it is a -different- constructor E.  Since constructors are generative, right?
(2) So either (a) I must not submit the extension declarati

[2020-05-09 20:26] chetmurthy commented on #119
Also, the reason I started thinking about this, is support for the extensible type `exn`.  `ppx_sexp_conv` has special support for it.  But (AFAICT) none of the other derivers do.  It would be nice if there were a way to support `exn` cleanly, and in a way that supported it as just another extensible variant, I think.

And if it is that way is defined properly, then every deriver could support it

[2020-05-10 20:44] chetmurthy commented on #119
Here's a (working) example of what I mean:
[code]
This yields `show` and `sexp` derivers that do the expected thing, viz.
[code]

[2020-05-20 10:37] Lesenr1 opened #120 "Help on recursive types"
Hi!
I have a bunch of recursive types, one of which is using the Map fonctor.
I tried to follow the example and wrote this:
[code]
When compiling, OCaml gives me `Error: Uninterpreted extension 'to_yojson'.`

[2020-06-17 03:31] XVilka commented on #103
Now it's fixed, should be the part of the next release.

[2020-06-17 03:31] #103 closed

[2020-06-30 08:20] mseri opened #123 "Release with support for 4.11"
Given the efforts in #121 and #122, is there anything blocking a release of `ppx_deriving_yojson` with support for ocaml 4.11?

[2020-07-28 11:14] kit-ty-kate commented on #123
cc @gasche could make a tag? I'll publish the release if you want.

[2020-07-28 12:45] gasche commented on #123
I can do it today (but it has to be today because I will be in holidays tomorrow). Another way to go would be to give one of you (@mseri or @kit-ty-kate; or @thierry-martinez) enough privilege on the repository so that you can do it yourself, and possibly lend a hand in the future. Is this a responsibility that you would accept?

[2020-07-28 12:54] kit-ty-kate commented on #123
sure, I wouldn't mind

[2020-07-28 13:00] mseri commented on #123
Same for me

[2020-07-28 13:18] gasche commented on #123
I gave rights to all three of view; thanks for being willing to help! I prefer to discuss big changes beforehand, but in this case tagging a release for the minimal-changes-for-4.11 is a no-brainer, so please feel free to go ahead and do it.

I detailed my own release workflow in https://github.com/ocaml-ppx/ppx_deriving/pull/226#issuecomment-633228817 ; maybe you will find it inspiring. I underst

[2020-07-30 17:22] kit-ty-kate commented on #123
Release done here and now merged: https://github.com/ocaml/opam-repository/pull/16917. Thanks everyone!

[2020-07-30 17:22] #123 closed

[2020-09-17 14:44] cemerick commented on #79
FWIW, here's a workaround that will make the derived code happy, but allow you to keep your preferred monomorphic `=`:

[code]

Just drop your types in `T`.

[2020-09-17 15:48] gasche commented on #79
@cemerick, @vphantom, would one of you like to write a PR to fix the bug upstream?

[2020-09-17 19:30] vphantom commented on #79
I have been away from OCaml for… wow over a year now (can't wait to come back!) so I'm a bit rusty, but I can definitely give it a shot. :smiley:

[2020-09-17 21:46] cemerick commented on #79
I can take a shot if @vphantom decides to pass.

[2020-09-18 10:46] vphantom commented on #79
Hey @cemerick since I'm a bit out of touch I suggest you look into it then.

[2020-09-18 18:58] cemerick commented on #79
Darn, it looks like this was already fixed with #126 (of _course_ I notice only after fixing it in a slightly different way on my fork! 🙃).

I can't seem to build or install the library at the relevant commit, but I suspect that's a problem with my current switch or something.

[2020-09-24 05:55] XVilka commented on #116
Should be closed, I think because of https://github.com/ocaml-ppx/ppx_deriving_yojson/commit/d06711479564486554aa0834fe900ac27d55ccc4
cc @thierry-martinez @gasche

[2020-09-24 08:34] gasche commented on #116
Thanks for the triaging help, I will close indeed.

[2020-09-24 08:34] #116 closed

[2020-11-07 21:35] kit-ty-kate opened #132 "Fix the behaviour of [@default Module.value] when the module is also defined in the runtime"
https://github.com/ocaml-ppx/ppx_deriving_yojson/blob/1ade9891d9d1f5a30884acc8e130ae10f4f7916a/src/ppx_deriving_yojson.ml#L303-L307

[2020-11-07 21:37] kit-ty-kate opened #133 "Allow users to redefine the list operators"
https://github.com/ocaml-ppx/ppx_deriving_yojson/blob/1ade9891d9d1f5a30884acc8e130ae10f4f7916a/src_test/test_ppx_yojson.ml#L508-L522

[2020-11-07 23:13] #79 closed

[2021-01-22 02:25] disteph opened #137 "Derivation of json schemas"
Feature request:
I'd be interested in automatically generating a json schema (in the sense of [https://json-schema.org](https://json-schema.org)) out of an OCaml type definition. A json schema is describing a subset of all jsons and can be seen as a json type or a validity criterion on a json structure. Say if I have an OCaml type `ty = ... [@@deriving yojson]`, the json structures produced by `ty

[2021-01-22 08:14] gasche commented on #137
My understanding is that `ppx_yojson_conv` is a more recent library that supersedes `ppx_deriving_yojson`, and is more actively maintained. Given that your feature requires new developments, I would go ask the ppx_yojson_conv developers.

(I will edit the README here to formalize this recommandation.)

[2021-01-23 00:29] disteph commented on #137
Makes sense; I've posted my query [here](https://github.com/janestreet/ppx_yojson_conv/issues/4). Thanks!

[2021-01-23 00:30] #137 closed

[2021-03-01 15:44] pbaudin opened #138 ""Stack overflow" exception in JavaScript execution mode (with Js_of_ocaml)"
Within the JavaScript mode the compilation of the recursive functions is not optimized (c.f. http://ocsigen.org/js_of_ocaml/3.7.0/manual/tailcall).

There is the Javascript translation of our `Ppx_deriving_yojson_runtime.map_bind` function :
[code]
So, the conversion of a `Yojson.Safe.t` data into a long list of elements (~10.000) could raise a `Stack overflow` exception.

Notice that kind of impl

[2021-03-01 17:41] gasche commented on #138
I believe that exception-raising is also fairly slow with js-of-ocaml, so I suspect that the version you propose could be a noticeable performance regression for small lists.

[2021-03-02 08:23] pbaudin commented on #138
The performance regression mainly depends on the number of lists. Of course, if these lists are small it is more noticeable.

I looked at this implementation :
[code]
It seems to be ok with my example (no stack overflow), but I wasn't able to extract its javascript translation since the debugger shows me only my Ocaml source code !
So, I can't confirm that is the solution.

[2021-03-02 09:13] gasche commented on #138
Yes; what you did is to inline the implementation of `>>=`, and I believe that the result is using a form of tail-recursion that is properly supported by js_of_ocaml. Would you like to propose a PR with this new implementation?

Note: what we learned here is that common monadic-programming idioms (recursive functions with bindings inside) are not properly supported by js_of_ocaml. I wondered if th

[2021-03-02 09:42] pbaudin commented on #138
I move my latest implementation in a part where I can see the javascript translation :
[code]
That looks safe since there is no recursion into the generated code!
I do hope you will modify your `Ppx_deriving_yojson_runtime.ml` in that way.
Thanks.

[2021-03-02 12:13] gasche commented on #138
I asked above if you would be willing to send a Pull Request to implement the change. (Is this an implicit way to decline the invitation?). I think that a PR is nicer than a maintainer doing the change, in particular as it directly tracks authorship of the contribution.

[2021-03-02 13:11] pbaudin commented on #138
I would have greatly preferred to let the authorship of that inline to the compiler!

[2021-11-25 09:28] sim642 opened #141 "Release v3.6.2"
PR #140 fixed multiple issues, so it would be nice to have a new release on opam-repository such that other packages depending on those fixes could also be published.

[2021-12-15 19:48] hongchangwu commented on #32
One way to make this work without breaking backward compatibility is to introduce a new attribute (e.g., `[@enum]`). The `[@enum]` attribute is only valid on empty variant constructors.

[code]

[2022-04-01 10:03] thierry-FreeBSD opened #143 "Unbound type constructor Result.result"
Trying to compile ppx_deriving_yojson v3.6.1 FreeBSD, with OCaml 4.12.1, menhir 20220210 and dune 2.8.0 gives the following error:
[code]
This simple patch fixes it:
[code]

[2022-04-01 14:28] mseri commented on #143
Not to complain about your suggestion (I think it would be a good idea to get rid of `result`), however I believe that your error is due to a dune bug as in https://github.com/ocaml-ppx/ppx_deriving/issues/257

[2022-04-01 14:55] thierry-FreeBSD commented on #143
Thanks, I was not aware of this bug!

[2022-06-24 18:52] davisuga opened #147 "Allowing extra fields"
Is it possible to ignore extra fields? With ppx_yojson_conv you just need to add a [@@yojson.allow_extra_fields].

[2022-06-24 22:37] hcarty commented on #147
It is - `[@@deriving yojson { strict = false }]` will ignore extra fields. https://github.com/ocaml-ppx/ppx_deriving_yojson#semantics covers more at the end of the section.

[2022-07-07 11:17] #147 closed, assigned to nobody

[2022-08-16 15:27] kit-ty-kate commented on #141
Fixed by https://github.com/ocaml-ppx/ppx_deriving_yojson/commit/ae17630e97220292b9daf613e3bcadd8593f45f3

[2022-08-16 15:27] #141 closed

[2022-08-16 16:07] #94 closed

[2022-08-17 07:55] sim642 commented on #141
Thanks!

[2022-10-14 21:34] Murphy-OrangeMud opened #151 "Unbound value $MYTYPE_to_yojson"
It works in utop but fails to build.
my file structure
<img width="249" alt="image" src="https://user-images.githubusercontent.com/46390322/195947256-f99f654e-8f9d-43fa-b4fc-120e7cbf79df.png">

my code in file keywordcount.ml:
[code]

my code in src/dune

[code]

When I use `dune build`, there's an error:
[code]

[2022-10-14 21:47] anmonteiro commented on #151
This is not a bug. The dune stanzas are missing a [`(preprocess ...)` specification](https://dune.readthedocs.io/en/stable/concepts.html#preprocessing-with-ppx-rewriters).

Something like:

[code]

[2022-10-14 22:03] Murphy-OrangeMud commented on #151
Thanks

[2022-10-14 22:03] #151 closed